[Unit]
Description=wan-ipv6-change-hook service
After=dhcpcd.service

[Service]
ExecStart=/home/justin/bin/wan-ipv6-change-hook.sh
Restart=on-failure

[Install]
WantedBy=default.target
