[Unit]
Description=wan-ipv6-change-hook service
Wants=network.target
After=dhcpcd.service

[Service]
Type=forking
ExecStart=/home/justin/bin/wan-ipv6-change-hook.sh
Restart=on-failure

[Install]
WantedBy=default.target
